################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TransportGame/obj/Release/net6.0
/TransportGame/obj
/.vs
/TransportGame/bin/Debug/net6.0
/TransportGame/.vs/TransportGame
